# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [40]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = [*a]

In [41]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b[-3:]

[4, 5, 6]

In [42]:
# @@@ Question 3: Create a list of numbers from 1 to 20
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [44]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def div(a: float, b: float) -> float:
    return a / b

In [45]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1, 31):
    fizz = i % 3 == 0
    buzz = i % 5 == 0
    if fizz:
        print("fizz", end="")
    if buzz:
        print("buzz", end="")
    if not (fizz or buzz):
        print(i)
    else:
        print()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [46]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
{
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10,
}

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [47]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd


df = pd.read_csv("../data/cereal.csv")

In [48]:
# @@@ Question 9: select all rows with more than and including 120 calories
df[df["calories"] >= 120]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
27,Fruit & Fibre Dates; Walnuts; and Oats,P,C,120,3,2,160,5.0,12.0,10,200,25,3,1.25,0.67,40.917047
28,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
34,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
35,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.00,1.00,21.871292
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.00,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.00,1.00,34.139765
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
48,Nut&Honey Crunch,K,C,120,2,1,190,0.0,15.0,9,40,25,2,1.00,0.67,29.924285
49,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
51,Oatmeal Raisin Crisp,G,C,130,3,2,170,1.5,13.5,10,120,25,3,1.25,0.50,30.450843
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
58,Raisin Bran,K,C,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785

In [49]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the potassium content
df[(df["type"] == "C") & (df['vitamins'] > df['potass'])]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.0,1.00,35.782791
38,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.0,1.00,36.523683
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.3,0.75,36.471512
53,Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.0,1.00,41.503540
69,Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3,35,100,3,1.0,1.00,38.839746

In [50]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
df['caffeine'] = 0
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,caffeine
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,0

In [51]:
# @@@ Question 12: what is the average calorie across all items?
df["calories"].mean()

np.float64(106.88311688311688)

In [52]:
# @@@ Question 13: how many different categories of beverages are there?
df["type"].value_counts(), df["type"].nunique()

(type
 C    74
 H     3
 Name: count, dtype: int64,
 2)

In [53]:
# @@@ Question 14: what is the average # calories for each beverage category?
df.groupby("type")["calories"].mean()

type
C    107.162162
H    100.000000
Name: calories, dtype: float64